.App {
  text-align: center;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
input:focus {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 1.5vh;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.App-header {
  background-color: #22223b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#heading {
  font-size: 50px;
  color: white;
  font-weight: 300;
}
#inputBar {
  height: 10vh;
  width: 35vw;
  background-color: #9a8c98;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#inputTextbox {
  height: 95%;
  width: 87%;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 25px;
  color: white;
}
#todoContainer {
  height: 55vh;
  width: 51.5vw;
  /* background-color: white; */
  position: absolute;
  bottom: 05vh;
  align-items: center;
  justify-content: center;
}
#addTaskButton {
  height: 100%;
  width: 13%;
  border-radius: 0px 25px 25px 0px;
  border-color: rgba(0, 0, 0, 0);
  padding: auto;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: none;

  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
#addTaskButton:hover {
  background-color: #110c1d;
  box-shadow: 0px 15px 20px rgb(34, 39, 104);
  color: #fff;
  transform: translateY(-4px);
}
#addTaskButton:active {
  transform: translateY(-1px);
}
#addTaskButtonText {
  color: white;
  font-size: 25px;
}
@media only screen and (max-width: 600px) {
  #inputBar {
    height: 10vh;
    width: 90%;
    background-color: #9a8c98;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  #inputTextbox {
    height: 95%;
    width: 87%;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 25px;
    color: white;
  }
  #addTaskButton {
    height: 100%;
    width: 20%;
    border-radius: 0px 25px 25px 0px;
    border-color: rgba(0, 0, 0, 0);
    padding: auto;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    border: none;
  
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  #addTaskButton:hover {
    background-color: #110c1d;
    box-shadow: 0px 15px 20px rgb(34, 39, 104);
    color: #fff;
    transform: translateY(-4px);
  }
  #addTaskButton:active {
    transform: translateY(-1px);
  }
  #addTaskButtonText {
    color: white;
    font-size: 25px;
  }
  #todoContainer {
    height: 55vh;
    width: 90vw;
    /* background-color: white; */
    position: absolute;
    bottom: 05vh;
    align-items: center;
    justify-content: center;
  }
}
